<h3>Invoice list</h3>

<table class="table table-bordered">
  <thead>
    <th>#</th>
    <th>Date</th>
    <th>Deadline</th>
    <th>Amount excl. VAT</th>
    <th>VAT</th>
    <th>Total (vat inclusive)</th>
  </thead>

  <tbody>
    <% Invoice.all.each do |invoice| %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= invoice.date %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
