<h3>Liste des factures</h3>

<table class="table table-bordered">
  <thead>
    <th>#</th>
    <th>Date</th>
    <th>Échéance</th>
    <th>Montant HT</th>
    <th>TVA</th>
    <th>Total TTC</th>
  </thead>

  <tbody>
    <% Invoice.all.each do |invoice| %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= invoice.date %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
